 body {
    background: #161616;
    color: #d1d1d1;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    margin: 0;
}

#name-large {
    font-size: 72px;
    margin-bottom: 10px;
    transition: .5s transform, 1.2s color;
    color: purple;
}
#name-large:hover {
    color: white;
    transform: scale(1.2);
}
#name-wrapper {
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
}

#front-page-photo {
    overflow: hidden;
    position: absolute;
    top: 30%;
    right: 10%;
    width: 40%;
}
#front-page-photo img {
    width: 100%;
}

.thin {
    font-weight: 100;
}

.shadow {
    box-shadow: 0 4px 12px 0 rgba(128, 0, 128, 0.3);
}

/* Header */
header {
    background: rgba(128, 0, 128, 0.1);
    box-shadow: 0 0 0px black;
    height: 8%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-75%);
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade {
    0% { opacity: 0; }
    80% { opacity: 0; }
    100% { opacity: 1; }
}

.aleft {
    animation: 2s ease-out 0s 1 slideInFromLeft;
}

.abottom {
    animation: 4s ease-out 0s 1 slideInFromBottom;
}

.fadeinlast {
    animation: 4s ease-out 0s 1 fade;
}